body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url('bck2.jpg');
    background-position: center;
    background-size: cover;
}
.container {
    display: flex;
    flex: 1;
}


.filter {
    margin-left: 10px;
}

.filter select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: white;
    color:black;
}

.filter select:hover {
    border-color: #888;
    background-color: #f0f0f0;
}


.side-menu {
    width: 180px;
    color: white;
    display: flex;
    background-color: black;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.side-menu a {
    color: white;
    text-decoration: none;
    margin-top: 50%;
    font-size: large;
    font-weight: bold;

}

.side-menu a:hover {
    background-color:grey;
    background-size: 100%;
}

.main-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.search {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search input {
    width: 70%;
    padding: 10px;
    font-size: 16px;
}

#forecastData {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

#daycast {
    color: white;
}

#charts {
    padding: 20px;
    display: flex;
    /* Ensure charts display in a row */
    justify-content: space-between;
    /* Space out charts evenly */
}

h2 {
    text-align: center;
    color: white;
}

.chart-container {
    display: flex;
    /* Use flex to align charts horizontally */
    justify-content: space-between;
    /* Space out charts */
    width: 64%;
    /* Ensure it takes full width */
}

.chart-container canvas {
    flex: 1;
    /* Allow each canvas to take equal space */
    max-width: 50%;
    /* Limit max width to fit three charts on one line */
    margin: 0 10px;
    /* Add margin between charts */
}

.chart-container canvas:first-child {
    margin-left: 0;
    /* Remove extra margin from the first chart */
}

.chart-container canvas:last-child {
    margin-right: 0;
    /* Remove extra margin from the last chart */
}

.btn {
    border-radius: 10%;
    border-width: 0.1cm;
    background-color: white;
    border-color: white;
    margin-left: 1%;
}

.info {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    color: white;
    width: 98%;
    justify-content: space-between;
}

section h1 {
    text-align: center;
}

.forecast-day {
    margin-bottom: 20px;
}
