body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url('bck2.jpg');
    background-position: center;
    background-size: 100%;
}
.container {
    display: flex;
    flex: 1;
}

.side-menu {
    width: 180px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding-top: 20px;
}
.side-menu a {
    color: white;
    text-decoration: none;
    margin-top: 50%;
    font-size: large;
    font-weight: bold;

}

.side-menu a:hover {
    background-color:grey;
    background-size: 100%;
}

.main-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
#chatfield {
    max-width: 500px;
    border: 1px solid white;
    border-radius: 8px;
    padding: 10px;
}

.search {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search input {
    width: 70%;
    padding: 10px;
    font-size: 16px;
}

h2 {
    text-align: center;
    color: white;
}

.btn {
    border-radius: 10%;
    border-width: 0.1cm;
    background-color: white;
    border-color: white;
    margin-left: 1%;
}

.info {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    color: white;
    width: 98%;
    justify-content: space-between;
}

section h1 {
    text-align: center;
}